<div class="bar bar-header bar-dark">
	<button class="button icon ion-chevron-left" ng-click="$back()"></button>
  	<h1 class="title">Daftar Badge ({{count}})</h1>
  	<a class="button icon ion-person" href="#/account"></a>
</div>

<div class="content scroll-content has-header padding">

	<a twitter data-lang="en" data-count='vertical' data-url='http://bit.ly/cakpres' data-size="medium" data-text="Saya telah mendapatkan badge badgesName[last_badge]" ></a>

	<div class="list card">
		<div class="item item-avatar" ng-repeat="badge in badgesArr track by $index">
	      <img src="{{badge}}"/>
	      <h2>Badge #{{$index + 1}}: {{badgesName[$index]}}</h2>
	      <p>Mencapai skor {{scoreArr[$index]}}</p>
	    </div>
	</div>

</div>

<div ng-include src="'partials/footer.html'"></div>