<div class="bar bar-header bar-dark">
	<button class="button icon ion-chevron-left" ng-click="$back()"></button>
  	<h1 class="title">Daftar Badge ({{count}})</h1>
  	<a class="button icon ion-person" href="#/account"></a>
</div>

<div class="content scroll-content has-header padding">

	<div class="list card">
		<div class="item item-avatar" ng-repeat="badge in badgesArr track by $index">
	      <img src="{{badge}}"/>
	      <h2>Penghargaan #{{$index + 1}}</h2>
	      <p>Mencapai skor {{scoreArr[$index]}}</p>
	    </div>
	</div>

</div>

<div ng-include src="'partials/footer.html'"></div>