<div class="tabs-icon-top tabs-dark">
  <div class="tabs">
    <a class="tab-item" href="#/faq">
      <i class="icon ion-chatboxes"></i>
      FAQ
    </a>
    <a class="tab-item" href="#/violation_category">
      <i class="icon ion-thumbsdown"></i>
      Pelanggaran
    </a>
    <a class="tab-item" href="#/game" ng-show-auth="login">
      <i class="icon ion-game-controller-b"></i>
      Game
    </a>
    <a class="tab-item" href="#/login" ng-show-auth="logout">
      <i class="icon ion-power"></i>
      Login
    </a>
    <a class="tab-item" href="#/hall">
      <i class="icon ion-star"></i>
      Peringkat
    </a>
    <a class="tab-item" href="#/help">
      <i class="icon ion-help-circled"></i>
      Bantuan
    </a>
  </div>
</div>