<div class="bar bar-header bar-dark">
  <h1 class="title">Cakpres Game</h1>
</div>

<div class="content scroll-content has-header padding">
    <div class="soal">
        Nama Pasangan: Hj. Iriana, SE., MM.
    </div>

    <div class="row calon">
        <div class="col-lg-3">
            <img src="img/jw.jpg" alt="">
        </div>
        <div class="col-lg-3">
            <img src="img/jk.jpg" alt="">
        </div>
        <div class="col-lg-3">
            <img src="img/ps.jpg" alt="">
        </div>
        <div class="col-lg-3">
            <img src="img/hj.jpg" alt="">
        </div>
    </div>

    <ul class="list">

        <li class="item">
          Battletoads
        </li>
        <li class="item">
          Contra
        </li>
        <li class="item">
          Duck Tales
        </li>
        <li class="item">
          Mega Man
        </li>
        <li class="item">
          Metroid
        </li>
        <li class="item">
          Mike Tyson's Punch-Out
        </li>
        <li class="item">
          R.C. Pro-Am
        </li>
        <li class="item">
          Spy Hunter
        </li>
        <li class="item">
          Super Mario Bros.
        </li>
        <li class="item">
          The Legend of Zelda
        </li>

      </ul>
    

</div>

<div ng-include src="'partials/footer.html'"></div>