<div class="bar bar-header bar-dark">
  <button class="button icon ion-chevron-left" ng-click="$back()"></button> 
  <h1 class="title">Peringkat ({{halls.length}} pemain)</h1>
</div>

<div class="content scroll-content has-header padding">
  
  <div class="list list-inset">
    <label class="item item-input">
    <i class="icon ion-search placeholder-icon"></i>
    <input type="text" placeholder="Cari Pemain" ng-model="query">
    </label>
  </div>

  <ul class="list card">
    <div class="item item-avatar" ng-repeat="user in halls | orderBy: '-score' | filter:query">
      <img gravatar-src="user.email" gravatar-size="150" ng-if="!user.fbid && !user.googleid">
      <img ng-src="http://graph.facebook.com/{{user.fbid}}/picture?type=square&width=150&height=150" alt="" ng-if="user.fbid">
      <img ng-src="{{user.image}}" alt="" ng-if="user.googleid">
      <span class="badge badge-energized">{{$index+1}}</span>
      <h2>{{user.name}}</h2>
      <p>Score: {{user.score}}</p>
    </div>
  </ul>
    
</div>

<div ng-include src="'partials/footer.html'"></div>