<div class="bar bar-header bar-dark">
	<button class="button icon ion-chevron-left" ng-click="$back()"></button>
  	<h1 class="title">Cakpres Help</h1>
</div>

<div class="content has-header padding scroll-content">
	<h2>Help</h2>
	<div class="card">
	  <div class="item item-text-wrap">
		Anda dapat memilih halaman pada menu yang tersedia dibawah, yaitu menu FAQ, Pelanggaran, Game, Hall dan Help.
	  </div>
	</div>
	<div class="card">
	  <div class="item item-text-wrap">
		Pada menu FAQ Anda dapat mengetahui pertanyaan-pertanyaan yang sering diajukan seputar pemilu capres 2014.
	  </div>
	</div>
	<div class="card">
	  <div class="item item-text-wrap">
		Pada menu Pelanggaran Anda dapat mengetahui pelanggaran-pelanggaran yang dilakukan dalam pemilihan calon legislatif dan kampanye oleh tiap calon presiden dan calon wakil presiden.
	  </div>
	</div>
	<div class="card">
	  <div class="item item-text-wrap">
		Pada menu game Anda dapat memainkan game dimana Anda akan diajukan pernyataan seputar calon presiden dan calon wakil presiden pada pemilu 2014, dan Anda harus menentukan pernyataan tersebut milik siapa dalam waktu 8 detik. Pada game ini Anda akan melawan pemain lain dalam menjawab pernyataan tersebut.
	  </div>
	</div>
	<div class="card">
	  <div class="item item-text-wrap">
		Pada menu Hall Anda dapat melihat highscore tertinggi yang didapatkan oleh semua orang yang pernah berpartisipasi pada game ini.
	  </div>
	</div>
	<div class="card">
	  <div class="item item-text-wrap">
		Pada menu game, di pojok kanan atas terdapat tombol profil, dimana Anda dapat melihat informasi tentang profil Anda, seperti nama, email, skor yang didapat, termasuk juga badge yang telah Anda peroleh.
	  </div>
	</div>	
</div>

<div ng-include src="'partials/footer.html'"></div>