<div class="content padding">
    
    
    <div class="logo"></div>

    <form>
        <div class="list list-inset">
            <label class="item item-input">
                <input type="text" placeholder="Email" ng-model="email" />
            </label>
            <label class="item item-input">
                <input type="password" placeholder="Password" ng-model="pass" />
            </label>
            <label ng-cloak ng-show="createMode" class="item item-input">
                <input type="password" placeholder="Confirm Password" ng-model="confirm" />
            </label>
        </div>    

        <button ng-click="login()" ng-hide="createMode" class="button button-dark button-block">Log In</button>
        <button ng-click="createMode = true" ng-hide="createMode" class="button button-dark button-block">Register</button>
        <button ng-cloak ng-show="createMode" ng-click="createAccount()" class="button button-dark button-block">Create Account</button>
        <button ng-cloak ng-show="createMode" ng-click="createMode = false" class="button button-dark button-block">Cancel</button>

        <p ng-show="err" class="error">{{err}}</p>
    </form>

</div>