<div class="bar bar-header bar-dark">
	<button class="button icon ion-chevron-left" ng-click="$back()"></button>	
	<h1 class="title">Pelanggaran {{subject}}</h1>
</div>

<div class="content has-header padding scroll-content">
	<h4></h4>
	<!-- Cari : <input ng-model="query"> -->
	<div class="list list-inset">
		<label class="item item-input">
		<i class="icon ion-search placeholder-icon"></i>
		<input type="text" placeholder="Cari Pelanggaran" ng-model="query">
		</label>
	</div>

	<p>Banyaknya pelanggaran: {{(violations['data']['results']['reports']|filter:filter).length}} dari {{violations['data']['results']['reports'].length}}</p>
	
	<!-- ng-repeat="violation in violations['data']['results']['reports'] | filter:filter | filter:query" -->

	<div class="card" 
		ng-repeat="violation in violations['data']['results']['reports'] | filter:filter | filter:query">
	
		<div class="item item-divider">
			{{violation.judul_laporan}}
		</div>
		<div class="item item-text-wrap" ng-bind-html="violation.keterangan | replacen">
		</div>
	</div>
</div>

<div ng-include src="'partials/footer.html'"></div>