<div class="bar bar-header bar-dark">
  <h1 class="title">Pelanggaran</h1>
</div>

<div class="content has-header padding scroll-content">
	<div class="list">
	    <a class="item item-thumbnail-left" href="#/violation/prabowo">
	      <img src="img/prabowo-rect.png">
	      <h2>Prabowo Subianto</h2>
	      <p>Partai Gerindra</p>
	    </a>
		
	    <a class="item item-thumbnail-left" href="#/violation/hatta">
	      <img src="img/hatta-rect.png">
	      <h2>Hatta Rajasa</h2>
	      <p>Partai Amanat Nasional</p>
	    </a>	

	    <a class="item item-thumbnail-left" href="#/violation/jokowi">
	      <img src="img/jokowi-rect.png">
	      <h2>Joko Widodo</h2>
	      <p>Partai Demokrasi Indonesia Perjuangan</p>
	    </a>	

	    <a class="item item-thumbnail-left" href="#/violation/jusuf">
	      <img src="img/jk-rect.png">
	      <h2>Jusuf Kalla</h2>
	      <p>Partai Golongan Karya</p>
	    </a>
	</div> 
	 <div class="hc-pie" items="limitedIdeas"></div> 
</div>
<div ng-include src="'partials/footer.html'"></div>

