/* app css stylesheet */
@import url(fonts/clear-sans.css);
body {
  background: #ff9500;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: "Clear Sans", "Helvetica Neue", Arial, sans-serif !important;
  color: #fff;
}
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6  {
  font-family: "Clear Sans", "Helvetica Neue", Arial, sans-serif !important;
  color: #fff;
}
.menu {
  list-style: none;
  margin: 0;
  padding: 0;
  background: #4a4e54;
  position: absolute;
  bottom: 0;
  width: 100%;
  box-sizing: border-box;
  min-height: 60px;
  text-align: center;
}

.menu li {
  display: inline-block;
  text-align: center;
}

.menu li a {
  color: #fff;
  padding: 10px 25px;
  background: #4a4e54;
  text-align: center;
  line-height: 4em;
}

a.tab-item, a.tab-item:hover  {
  text-decoration: none;
}

a.tab-item:hover {
  color: #ff9500;
}

.tabs-dark > .tabs, .tabs.tabs-dark {
  border-color: #111;
  background-color: #444;
  background-image: linear-gradient(0deg, #111, #111 50%, transparent 50%);
  color: #fff;
}

.content { 
  overflow: auto;
  margin-bottom: 40px;
}

.has-header {
  /*margin-top: 40px;*/
}

.logo {
  background: url('../img/cakpres.png') no-repeat;
  /*background-size: cover;*/
  width: 200px;
  height: 209px;
  margin: 20px auto;

}

.calon img{
  width: 100%;
  /*border-radius: 50%;*/
  cursor: pointer;
}

.soal {
  font-size: 1.5em;
  line-height: 1.2em;
}

.card h2{
  color: #000;
}

.blur {
  /*opacity: .5;*/
}

.aktif {
  /*opacity: 1;*/
  /*border: 5px solid #e9e33b;*/
  border: 5px solid #fff;
  box-shadow: 0px 0px 50px #fff;
}

.benar {
  border: 5px solid #edcf72;
  box-shadow: 0px 0px 50px #edcf72;
}

.salah {
  border: 5px solid #fea683;
  box-shadow: 0px 0px 50px #fea683;
}

input, textarea {
  color: #000;
}

.item, .item h1, .item h2, .item h3, .item h4, .item h5, .item h6, .item p, .item-content, .item-content h1, .item-content h2, .item-content h3, .item-content h4, .item-content h5, .item-content h6, .item-content p {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal; 
}

.row {
  margin-left: 0px; 
  margin-right: 0px; 
}

.knob-pos canvas {
  float: right;
}

@media (min-width: 1024px) {
  
  .calon {
    width: 30%;
    margin: 0 auto;
  }

}

@media (min-width: 1280px) {
  
  .calon {
    width: 30%;
    margin: 0 auto;
  }

}