/* app css stylesheet */
body {
  background: #ff9500;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}
.menu {
  list-style: none;
  margin: 0;
  padding: 0;
  background: #4a4e54;
  position: absolute;
  bottom: 0;
  width: 100%;
  box-sizing: border-box;
  min-height: 60px;
  text-align: center;
}

.menu li {
  display: inline-block;
  text-align: center;
}

.menu li a {
  color: #fff;
  padding: 10px 25px;
  background: #4a4e54;
  text-align: center;
  line-height: 4em;
}

a.tab-item, a.tab-item:hover  {
  text-decoration: none;
}